* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-grey: #292929;
    --purple: #6b3a8a;
    --light-grey: #b0b0b0;
}

header {
    background-color: var(--light-grey);
    color: var(--purple);
}

body {
    background-color: var(--dark-grey);
    color: var(--light-grey);
    font-family: 'Gideon Roman', 'Playfair Display', serif;
}

ul {
    list-style: none;
}

a {
    color: var(--purple);
}