* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-grey: #292929;
    --purple: #6b3a8a;
    --light-grey: #b0b0b0;
}

header, footer {
    background-color: var(--light-grey);
    color: var(--purple);
}

body {
    background-color: var(--dark-grey);
    color: var(--light-grey);
    font-family: 'Gideon Roman', 'Playfair Display', serif;
}

ul {
    list-style: none;
}

a {
    color: var(--purple);
}

h1, h2 {
    font-family: 'Fleur De Leah', serif;
}

.site-name {
    position: absolute;
    top: 45px;
    background-color: var(--purple);
    color: var(--light-grey);
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Beau Rivage', serif;
}